.have-space {
    display: flex;
    justify-content: space-between;
}

h4 {
    color: rgb(62, 61, 61);
    font-size: 22px;
    display: inline; /* ou display: inline-block; */
    font-weight: 500;    
  }

  